[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
matplotlib = "*"
plotly = "*"
statsmodels = "*"
pandas-profiling = "*"
scikit-learn = "*"
tqdm = "*"
ipywidgets = "*"
hyperopt = "*"
networkx = "==1.11"

[dev-packages]
ptpython = "*"
"flake8" = "*"
isort = "*"
"autopep8" = "*"
yapf = "*"

[requires]
python_version = "3.6"

[scripts]
note = "jupyter lab"
